.IntroPage {
    padding-top: 200px;
}
.title {
    color: black;
    text-align: center;
    font-size: 31px;
}
.description {
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}