.QuestionPage {
    width: 50%;
    text-align: start;
}

.question-box {
    border-bottom: 0.794239px solid #DBDEF0;  
    margin: 10px auto;
}

.question {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
}
.answer {
    margin: 0;
    font-size: 10px;
    display: inline-flex;
    margin-right: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    border-radius: 8px;
    color: #293264;
    background-color: none;
    border: 1px solid #293264;
    cursor: pointer;
}

.answer:last-child {
    margin-right: 0px;
}

.answer.selected {
    background-color: #D6DBF5;
    border: none;
}

.answer.correct {
    background-color: green;
}

.answer.incorrect {
    background-color: red;
}

.answer.hazy {
    opacity: 0.5;
}

.score {
    display: flex;
    align-items: center;
    margin: 30px 10px;
}

.btn.playagain {
    margin: 0 auto;
}

.score-data {
    margin: 0;
}