.App {
  display: block;
  margin: auto;
  margin-top: 80px;
  width: 550px;
  height: 550px;
  background-color: #F5F7FB;
  position: relative;
}
.blob-yellow {
  position: absolute;
  right: 0;
  top: 0;
}
.blob-blue {
  position: absolute;
  left: 0;
  bottom: 0;
}
.btn {
  display: block;
  margin: 0 auto;
  padding: 8px 25px;
  background: #4D5B9E;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  color: #F5F7FB;
}
